@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Workshop - ASP.Net Core para Iniciantes</h1>
        <h2 class="text-center">Gabriela de Souza - Software Developer</h2>
        <h3 class="text-center">Microsoft MVP Developer Technologies</h3>
    </div>
    <hr class="m-y-md"/>
    <div>
        <p>Você pode assistir seus filmes aqui</p>
        <p class="lead">
            <a class="btn btn-danger btn-lg" href="https://topflix.vc/" role="button" target="_blank">TopFlix</a>
        </p>
    </div>
</div>